<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <body class="auth">
        <main class="container content-auth">
            <div id="banner">
                <img src="/img/banner-login.png" alt="" srcset="">
            </div>
            <div class="content">
                <%- include('../partials/forms/login') %>
            </div>        
        </main>
    </body>
</html>
