<!DOCTYPE html>
<html>
	<%- include('../partials/head') %>
	<body>
		<main class="container content-auth">
			<div id="banner">
				<img src="/img/banner-login.png" alt="" srcset="">
				<p>
					Cadastre-se para ver fotos dos seus amigos
				</p>
			</div>
			<%- include('../partials/forms/register') %> 
		</main>
	</body>
</html>
